/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:90%;}
/*--end reset--*/
body {
    font-family: 'Montserrat', sans-serif;
	background-color:#2292a7;
	text-align:center;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
#v_farmacias{
	width: 100%; 
	height: 500px; 
	overflow:scroll; 
	overflow-x: hidden;
}

.btn {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
	cursor: pointer;
}
.btn:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
	cursor: pointer;
}
.col-2{
	    width: 47%;
    margin-left: 10px;
    overflow: hidden;
    height: 300px;
    float: left;
    text-align: center;
    border: 1px solid #fff;
	margin-bottom: 10px;
	
}
.til{
	color: #ffffff !important;
	font-size: 1em !important;
}
.til2{
	color: #ffffff !important; 
	font-size: 0.6em !important;
}
.map{
	width: 100%;
	
}
.select-css {
	display: block;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .3em .8em;
	width: 400px;
	max-width: 100%; 
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}
.select-css option {
	font-weight:normal;
}
.top-img-agileits-w3layouts {
    background:#fff;
   
}
.w3_pad {
    padding: 3em 2em 0;
}
/**** LOGIN_SIGNUP ******/
.main-content-agileits {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    background: rgba(255, 255, 255, 0.18);
}
.left-text-w3ls {
    float: left;
    width: 58%;
    padding-right: 1em;
    text-align: left;
	box-sizing: border-box;
}
.left-text-w3ls h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0.5em 0 0.5em;
}
.left-text-w3ls a {
    padding-right: 8px;
    font-size: 9px;
}
.w3_soc {
    padding: 1.5em 5em 1.5em 2em;
    background-color: rgba(153, 153, 153, 0.23);
}
form {
    margin: 35px 0;
}
.left-text-w3ls p {
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 38px;
    font-weight: 100;
}
.w3_lb label {
    color: #ff0000;
    font-weight: 500;
    font-size: 20px;
}
.left-text-w3ls p a.fa {
    color: #b52e31;
    font-size: 11px;
    vertical-align: middle;
    margin-right: 1em;
}
/* signup Form styles */

h2.sub-head-w3-agileits span {
    font-weight: 100;
    display: block;
    font-size: 15px;
}
.top-img-agileits-w3layouts h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
	color:#000;
	text-align: left;
}
.top-img-agileits-w3layouts p {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: left;
    color: rgba(119, 119, 119, 0.61);
    margin-top: 15px;
}
.login-w3l {
    width: 40%;
    float: right;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}
 .login-form input[type="email"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #525252;
    outline: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.09);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 3em;
    letter-spacing: 5px;
    color: #fff;
    margin: 1em 0 1em;
    font-weight: 600;
}
.footer-social ul li {
    display: inline-block;
    margin-right: 5px;
}
i.icon_facebook {
    background: #3b5998;
}
i.icon_twitter {
    background: #1da1f2;
}
i.icon_dribbble {
    background: #ea4c89;
}
i.icon_g_plus {
    background: #dd4b39;
}
.footer-social {
    text-align: left;
    margin-top: 20px;
}
.footer-social ul li i {
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}
.login-form input[type="submit"] {
    background: #b52e31;
    color: #fff;
    font-size: 15px;
    border: none;
    text-transform: capitalize;
    border: 2px solid #b52e31;
    width: 45%;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 0;
    letter-spacing: 2px;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
  
}
input[type="submit"]:hover {
	background-color:#2292a7;
	border: 2px solid #2292a7;	
}
.w3_sub {
    text-align: left;
}
.w3_lb {
    text-align: left;
    margin-bottom: 20px;
}
.w3_soc h3 {
    font-size: 25px;
    text-align: left;
	color:#000;
}

.footer-agileits p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 4em 0 1em;
    letter-spacing: 1.5px;
    display: block;
}
.footer-agileits p a:hover {
    color: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.footer-agileits p a {
    text-decoration: underline;
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
/*-- //login --*/
::-webkit-input-placeholder{
	color:#000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #adb2bd; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #adb2bd;  
}

:-ms-input-placeholder {  
   color: #adb2bd;  
}
/*--responsive--*/
@media screen and (max-width: 1080px){
.main-content-agileits {
    margin: 0 3vw;
}
}
@media screen and (max-width: 1024px){
.left-text-w3ls h3 {
    font-size: 1.5em;
}	
}
@media screen and (max-width: 900px){
.left-text-w3ls {
    width: 100%;
}
.login-w3l {
    width: 100%;
    margin-top: 15px;
    float: left;
}
h1 {
    margin: 0.5em 0 0.5em;
}	
	#v_farmacias{
	margin:20px;
}
}
@media screen and (max-width: 667px){
h1 {
    letter-spacing: 1px;
	font-size: 2.5em;
}	
#v_farmacias{
	margin:20px;
}
	.col-2{
		width: 90%;
		margin-left: 1px;
	}
@media screen and (max-width: 480px){
.left-text-w3ls h3 {
    font-size: 1.2em;
}
.left-text-w3ls p {
    font-size: 12px;
    letter-spacing: 0px;
}
h1 {
    font-size: 2em;
}	
#v_farmacias{
	margin:20px;
}
}
@media screen and (max-width: 384px){
.w3_pad {
    padding: 2em 1em 0;
}
.footer-agileits p {
    margin: 2em 0 1em;
    line-height: 1.8em;
	font-size:13px;
	letter-spacing:1px;
}	
#v_farmacias{
	margin:20px;
}
}
@media screen and (max-width: 320px){
.top-img-agileits-w3layouts h2 {
    font-size: 22px;
}
.top-img-agileits-w3layouts p {
    font-size: 13px;
}
.login-form input[type="submit"] {
    width: 60%;
}
.w3_soc {
    padding: 1.5em 1em 1.5em 2em;
}	
#v_farmacias{
	margin:20px;
}
}
/*--responsive--*/